<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <script src="jquery-3.7.0.min.js"></script>
</head>
<body>
<h1>Blog</h1>

<input id="search">
<button onclick="search()" type="button">Search</button>

<table border="1px">
  <tr>
    <th>STT</th>
    <th>Tên blog</th>
    <th>Nội dung</th>
    <th>Ngày sáng tác</th>
    <th>Tác giả</th>
    <th>Thể loại</th>
  </tr>
  <tbody id="content">
  </tbody>
  <div id="btn"></div>
</table>
<!--<button onclick="display()" id="1">More</button>-->
<script>
  function display(newPage) {
    let content = "";
    let name=$('#search').val();
    let page = 0;
    let more = "";
    if(newPage !=="" && newPage>0){
      page = newPage;
    }
    $.ajax({
              contentType: "application/json",
              method: "GET",
              dataType: "json",
              url: "http://localhost:8080/api/blog?searchName="+name+"&page="+page,
              success: function (data) {
                for (let i = 0; i < data.content.length; i++) {
                  content += `<tr>
                                        <td>${page*2+(i + 1)}</td>
                                        <td>${data.content[i].name}</td>
                                        <td>${data.content[i].content}</td>
                                        <td>${data.content[i].date}</td>
                                        <td>${data.content[i].author}</td>
                                        <td>${data.content[i].category.name}</td>
                                    </tr>`
                }
                more+= `<button onclick="readMore(${page})" style="margin: 20px 50px 20px 170px">Read More</button>`
                // more+= $('#1')
                $("#content").append(content);
                $(`#btn`).html(more);
              }
            }
    )
  }

  function search() {
    let content = "";
    let name=$('#search').val();
    $.ajax({
              contentType: "application/json",
              method: "GET",
              dataType: "json",
              url: "http://localhost:8080/api/blog?searchName="+name,
              success: function (data) {
                for (let i = 0; i < data.content.length; i++) {
                  content += `<tr>
                                        <td>${i + 1}</td>
                                        <td>${data.content[i].name}</td>
                                        <td>${data.content[i].content}</td>
                                        <td>${data.content[i].date}</td>
                                        <td>${data.content[i].author}</td>
                                        <td>${data.content[i].category.name}</td>
                                    </tr>`
                }
                $("#content").html(content);
              }
            }
    )
  }
  function readMore(page) {
    page+=1;
    display(page)
  }
  display()

</script>
</body>
</html>