<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Thêm mới</title>
</head>
<body>
<h2>Thêm mới</h2>
<form class="form-select-button" th:action="@{/product/create}" method="post" th:object="${product}">
    Tên sản phẩm
    <input th:field="*{name}" required><br>
    Giá sản phẩm
    <input type="number" th:field="*{price}" required><br>
    Mô tả sản phẩm
    <input th:field="*{description}" required><br>
    Nhà sản xuất
    <input th:field="*{producer}" required>
    <button>Thêm mới</button>
</form>

</form>
</body>
</html>