<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1px">
  <tr>
    <th>STT</th>
    <th>ID</th>
    <th>Tên sản phẩm</th>
    <th>Giá sản phẩm</th>
    <th>Mô tả sản phẩm</th>
    <th>Nhà sản xuất</th>
  </tr>
  <tr th:each="p,status: ${product}">
    <td th:text="${status.count}">
    </td>
    <td th:text="${p.id}"></td>
    <td th:text="${p.name}"></td>
    <td th:text="${p.price}"></td>
    <td th:text="${p.description}"></td>
    <td th:text="${p.producer}"></td>
  </tr>
</table>
</body>
</html>